$fondo: rgb(219, 233, 240);

.dashboard{
    background-color: $fondo;
    &-dashboard_container{
        background-color: $fondo;
    }
    &-dash_title{
        margin-left: 100px;
        margin-bottom: 20px;
    }
    &-dash_cardsCursos{
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        &-cursos{
            width: 160px;
            height: 120px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            margin-right: 30px;  
            &-arriba{
                height: 60px;
                margin-left: 10px;
                margin-top: 7px;
                &-barra{
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    &-izq{
                        margin-right: 10px;
                        width: 50px;
                    }
                    &-der{
                        color: black;
                    }
                }
                &-icon{
                    position: absolute;
                    margin-left: 12px;
                    margin-top: 10px;
                }
            }  
            &-abajo{
                height: 60px;
                display: flex;
                flex-direction: row;
                &-insignias{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left: 18px;
                    &-backUno{
                        background-color: rgb(116, 116, 217);
                        border-radius: 70px;
                        width: 20px;
                        text-align: center;
                    }
                    &-backDos{
                        background-color: rgb(80, 211, 95);
                        border-radius: 70px;
                        width: 20px;
                        text-align: center;
                    }
                    &-backTres{
                        background-color: rgb(101, 31, 213);
                        border-radius: 70px;
                        width: 20px;
                        text-align: center;
                    }
                    &-backCuatro{
                        background-color: rgb(217, 154, 17);
                        border-radius: 70px;
                        width: 20px;
                        text-align: center;
                    }
                }
            } 
        }
    }
    &-dash_cardsCalendar{
        margin-top: 20px;
        margin-left: 100px;
        display: flex;
        flex-direction: row;
        &-week{
            width: 540px;
            height: 300px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
        }
        &-calendar{
            width: 430px;
            height: 300px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            margin-left: 30px;
        }
        &-lit{
            width: 100px;
            height: 300px;
            border-radius: 10px;
            margin-left: 30px;
        }
    }
}

.fa-search{
    font-size: 25px;
    color: rgb(132, 130, 130);
}

.fa-stomach{
    color: red;
}

.main{
    background-color: transparent !important;
    &-dash_title{
        color: rgb(38, 37, 37);
        margin-left: 100px;
        background-color: $fondo;
        font-weight: bold;
    }
    &-dash_opciones{
        display: flex;
        flex-direction: row;
        margin-left: 100px !important;
        padding: 20px;
        &-opciones_uno{
            display: flex;
            flex-direction: row;
            &-input{
                border: 0px !important;
                margin-left: 10px;
                border-radius: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 2px;
                padding-right: 20px;
            }
        }
        &-opciones_dos{
            margin-left: 500px;
            display: flex;
            flex-direction: row;
            &-backIcon{
                background-color: white;
                
                color: rgb(38, 37, 37);
            }
            &-select{
                padding: 6px; 
                &-seleccion{
                    border-radius: 15px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 2px;
                    padding-right: 20px;
                }
            }
            &-boton_s{
                padding: 10px;
                &-button{
                    border-radius: 15px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 2px;
                    padding-right: 20px;
                    border: 0%;
                    background-color: yellow !important;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}