body{
    background: rgb(102,114,213);
    background: linear-gradient(90deg, rgba(102,114,213,0.6194852941176471) 0%, rgba(9,9,121,0.48783263305322133) 55%, rgba(0,212,255,0.7707457983193278) 100%);
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    &-profile_container{
        background-color: rgb(255, 255, 255);
        height: 500px;
        width: 800px;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-profile_sectionIzq{
            width: 58vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-profile_logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 170px;
                margin-left: 80px;
                margin-bottom: 30px;
                &-profile_fotoLogo{
                    width: 100px !important;
                    height: 40px !important;
                }
            }
            &-profile_title{
                text-align: center;
                color: rgb(11, 11, 104);
            }
            &-profile_social{
                display: flex;
                flex-direction: row;
                justify-content: center;
                &-profileGoogle{
                    display: flex;
                    flex-direction: row;
                    background-color: rgb(246, 45, 45);
                    width: 130px;
                    height: 45px;
                    font-weight: bold;
                    color: white;
                    padding: 2px;
                    border-radius: 10px;
                    margin-right: 10px;
                    &-profile_buttons{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 130px;
                        color: white;
                        &-profile_letraG{
                            width: 20vw;
                            display: flex;
                            justify-content: center;
                            font-size: 38px;
                        }
                        &-profile_letra{
                            width: 80vw;
                            margin-left: 5px;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }  
                        &:hover{
                            color: white;
                        }   
                    }
                }
                &-profileFacebook{
                    display: flex;
                    flex-direction: row;
                    background-color: rgb(94, 94, 249);
                    width: 130px;
                    height: 45px;
                    font-weight: bold;
                    color: white;
                    padding: 2px;
                    border-radius: 10px;
                    &-profile_buttons{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 130px;
                        color: white;
                        &-profile_letraF{
                            width: 20vw;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;
                            font-size: 38px;    
                        }
                        &-profile_letra{
                            width: 80vw;
                            margin-left: 5px;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                        &:hover{
                            color: white;
                        } 
                    }
                }
            }
            &-profile_form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &-profile_input{
                    width: 240px;
                }         
                &-profile_buttons{
                    display: flex;
                    flex-direction: row;
                    &-profile_login{
                        background: rgb(224,245,13);
                        background: linear-gradient(270deg, rgba(224,245,13,0.6194852941176471) 0%, rgba(251,226,31,0.9528186274509804) 100%);
                        color: black;
                        font-weight: bold;
                        font-size: 15px;
                        border-radius: 50px;
                        margin-right: 20px;
                        &:hover{
                            color: rgb(0, 0, 0);
                        }
                    }
                    &-profile_create{
                        background: rgb(31,32,251);
                        background: linear-gradient(87deg, rgba(31,32,251,1) 0%, rgba(26,92,245,1) 100%);
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        font-size: 15px;
                        border-radius: 50px;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            
            &-profile_password{
                text-align: center;
                font-size: 12px;
                margin-top: 20px;
                &-profile_link{
                    text-decoration: none;
                    margin-left: 2px;
                }
            }
        }
        &-profile_sectionDer{
            background-color: rgba(250, 150, 0, 0.824);
            width: 45vw;
            border-radius: 25px;
            &-profile_img{
                &-profile_foto{
                    margin-top: 85px;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}


/*RESPONSIVE*/
@media (max-width: 750px) {
    .profile{
        display: flex;
        justify-content: center;
        margin-top: 3%;
        &-profile_container{
            background-color: rgb(255, 255, 255);
            height: 500px;
            width: 800px;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            &-profile_sectionIzq{
                width: 58vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &-profile_logo{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    margin-left: 80px;
                    margin-bottom: 30px;
                    &-profile_fotoLogo{
                        width: 100px !important;
                        height: 40px !important;
                    }
                }
                &-profile_title{
                    text-align: center;
                    color: rgb(11, 11, 104);
                }
                &-profile_social{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    &-profileGoogle{
                        display: flex;
                        flex-direction: row;
                        background-color: rgb(246, 45, 45);
                        width: 130px;
                        height: 45px;
                        font-weight: bold;
                        color: white;
                        padding: 2px;
                        border-radius: 10px;
                        margin-right: 10px;
                        &-profile_letraG{
                            width: 20vw;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;
                            font-size: 48px;
                            margin-bottom: 5px;
                        }
                        &-profile_letra{
                            width: 80vw;
                            margin-left: 5px;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                    }
                    &-profileFacebook{
                        display: flex;
                        flex-direction: row;
                        background-color: rgb(94, 94, 249);
                        width: 130px;
                        height: 45px;
                        font-weight: bold;
                        color: white;
                        padding: 2px;
                        border-radius: 10px;
                        &-profile_letraF{
                            width: 20vw;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;
                            font-size: 48px;
                            margin-bottom: 5px;
                            margin-left: 10px;
                        }
                        &-profile_letra{
                            width: 80vw;
                            margin-left: 5px;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                    }
                }
                &-profile_form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &-profile_input{
                        width: 240px;
                    }         
                    &-profile_buttons{
                        display: flex;
                        flex-direction: row;
                        &-profile_login{
                            background: rgb(224,245,13);
                            background: linear-gradient(270deg, rgba(224,245,13,0.6194852941176471) 0%, rgba(251,226,31,0.9528186274509804) 100%);
                            color: black;
                            font-weight: bold;
                            font-size: 15px;
                            border-radius: 50px;
                            margin-right: 20px;
                            &:hover{
                                color: rgb(0, 0, 0);
                            }
                        }
                        &-profile_create{
                            background: rgb(31,32,251);
                            background: linear-gradient(87deg, rgba(31,32,251,1) 0%, rgba(26,92,245,1) 100%);
                            color: rgb(255, 255, 255);
                            font-weight: bold;
                            font-size: 15px;
                            border-radius: 50px;
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
                
                &-profile_password{
                    text-align: center;
                    font-size: 12px;
                    margin-top: 20px;
                    &-profile_link{
                        text-decoration: none;
                        margin-left: 2px;
                    }
                }
            }
            &-profile_sectionDer{
                background-color: rgba(250, 150, 0, 0.824);
                width: 45vw;
                border-radius: 25px;
                &-profile_img{
                    &-profile_foto{
                        margin-top: 85px;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
} 


@media only screen and (min-width: 0px) and (max-width:620px) {
    .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        &-profile_container{
            background-color: rgb(154, 123, 123);
            height: 500px;
            width: 500px;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            &-profile_sectionIzq{
                width: 58vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &-profile_logo{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 170px;
                    margin-left: 80px;
                    margin-bottom: 30px;
                    &-profile_fotoLogo{
                        width: 100px !important;
                        height: 40px !important;
                    }
                }
                &-profile_title{
                    text-align: center;
                    color: rgb(11, 11, 104);
                }
                &-profile_social{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    &-profileGoogle{
                        display: flex;
                        flex-direction: row;
                        background-color: rgb(246, 45, 45);
                        width: 130px;
                        height: 45px;
                        font-weight: bold;
                        color: white;
                        padding: 2px;
                        border-radius: 10px;
                        margin-right: 10px;
                        &-profile_letraG{
                            width: 20vw;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;
                            font-size: 48px;
                            margin-bottom: 5px;
                        }
                        &-profile_letra{
                            width: 80vw;
                            margin-left: 5px;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                    }
                    &-profileFacebook{
                        display: flex;
                        flex-direction: row;
                        background-color: rgb(94, 94, 249);
                        width: 130px;
                        height: 45px;
                        font-weight: bold;
                        color: white;
                        padding: 2px;
                        border-radius: 10px;
                        &-profile_letraF{
                            width: 20vw;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;
                            font-size: 48px;
                            margin-bottom: 5px;
                            margin-left: 10px;
                        }
                        &-profile_letra{
                            width: 80vw;
                            margin-left: 5px;
                            font-size: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                    }
                }
                &-profile_form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &-profile_input{
                        width: 240px;
                    }         
                    &-profile_buttons{
                        display: flex;
                        flex-direction: row;
                        &-profile_login{
                            background: rgb(224,245,13);
                            background: linear-gradient(270deg, rgba(224,245,13,0.6194852941176471) 0%, rgba(251,226,31,0.9528186274509804) 100%);
                            color: black;
                            font-weight: bold;
                            font-size: 15px;
                            border-radius: 50px;
                            margin-right: 20px;
                            &:hover{
                                color: rgb(0, 0, 0);
                            }
                        }
                        &-profile_create{
                            background: rgb(31,32,251);
                            background: linear-gradient(87deg, rgba(31,32,251,1) 0%, rgba(26,92,245,1) 100%);
                            color: rgb(255, 255, 255);
                            font-weight: bold;
                            font-size: 15px;
                            border-radius: 50px;
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
                
                &-profile_password{
                    text-align: center;
                    font-size: 12px;
                    margin-top: 20px;
                    &-profile_link{
                        text-decoration: none;
                        margin-left: 2px;
                    }
                }
            }
            &-profile_sectionDer{
                display: none;
            }
        }
    }
} 